/* 只需要重写你需要的即可 */

:root {
  --color-primary: #4045DC;
  --color-primary-light: #5a5ee6;
  --color-primary-dark: #2a2e9c;
  --color-primary-selection: #7e81e6;
  --color-layout-bg: #f5f5f5;
  --color-layout-bg-hover: #f9f9f9;
  --color-content-bg: #fff;
  --color-content: #000;
  --color-shadow: #1d23290d;

  *::selection {
    background-color: var(--color-primary-selection);
  }
}

:root.dark {
  --color-primary: #4045DC;
  --color-primary-light: #5a5ee6;
  --color-primary-dark: #2a2e9c;
  --color-primary-selection: #7e81e6;
  --color-layout-bg: #2e3033;
  --color-layout-bg-hover: #36393b;
  //--color-layout-bg: #050505;
  --color-content-bg: #050505;
  --color-content: #fcfcfc;
  --color-shadow: #ffffff88;

  *::selection {
    background-color: var(--color-primary-selection);
  }
}

